<!DOCTYPE html>
<html>

 <center style="width:100%;table-layout:fixed">
 <table align="center" style="border-spacing:0;border-collapse:collapse;color:#364364;width:100%;max-width:580px">
 
 <tbody><tr style="text-align:left" align="left">
 <td style="vertical-align:top;text-align:left;padding:0" align="left" valign="top">
 <table style="border-spacing:0;border-collapse:collapse;color:#364364;width:100%">
 <tbody><tr style="text-align:left" align="left">
 <td style="vertical-align:top;text-align:center;font-size:0;padding:0" align="center" valign="top">
 
 <div style="margin:0;padding:0">
 
 <div class="m_4615017182363135719b-mail-grid__column" style="text-align:center;float:left;width:auto!important;vertical-align:bottom;display:inline-block;margin:0;padding:0;font:15px/24px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif" align="center">
 <div class="m_4615017182363135719l-align_left" lang="l-align_right" style="text-align:left;margin:0;padding:0" align="left">
 <p style="margin:36px 0;font:15px/24px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif">
 </p><div style="color:#ffffff;text-align:center;text-decoration:none;font-size:14px;line-height:24px;font-weight:600;letter-spacing:normal;margin:0;padding:0" align="center">
 <div class="m_4615017182363135719l-align_right" style="text-align:left;margin:48px 0 36px;padding:0" align="left">
 <a href="https://google.com" style="color:#1d9ef9!important;text-align:center;text-decoration:none;font-size:16px;line-height:26px;font-weight:600;letter-spacing:normal" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.reg.ru/user/?rtm_source%3De-mail%26rtm_medium%3De-mail%26rtm_campaign%3DUserNew&amp;source=gmail&amp;ust=1706519723973000&amp;usg=AOvVaw19i0o-C97a9nIg9lbKkD95">
 <div class="m_4615017182363135719b-mail-button__inner_color_default" style="display:inherit;border-radius:3px;color:#9ea4b0;text-align:center;background-color:#f2f4f9;font-size:inherit;font-weight:inherit;font-style:inherit;letter-spacing:inherit;line-height:inherit;margin:0;padding:10px 15px;border-color:#f2f4f9;border-style:solid;border-width:8px 24px" align="center">ДВО РАН
 </div>
 </a>
 
 </div>
 </div>
 <p></p>
 </div>
 </div>
 </div>
 
 </td>
 </tr>
 </tbody></table>
 </td>
</tr>
<tr style="text-align:left" align="left">
 <td style="vertical-align:top;text-align:left;background-color:#dfe4ec;padding:12px" align="left" bgcolor="#DFE4EC" valign="top">
 <table width="100%" style="border-spacing:0;border-collapse:collapse;color:#364364">
 <tbody><tr style="text-align:left" align="left">
 <td style="vertical-align:top;text-align:left;background-color:#ffffff;padding:35px" align="left" bgcolor="#ffffff" valign="top">
  <table style="width:100%;vertical-align:top;text-align:left;background-color:#ffffff;border-spacing:0;border-collapse:collapse;color:#364364;padding:0 36px" bgcolor="#ffffff">
 <tbody><tr style="text-align:left" align="left">
 <td style="vertical-align:top;text-align:left;padding:0" align="left" valign="top">
 <img src="../static/img/banner.png" alt="banner" style="width:100%;max-width:486px;height:auto;margin:0 0 24px;border:0" class="CToWUd a6T" data-bit="iit" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 1; left: 947px; top: 401px;"><div id=":167" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Скачать файл " jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc4MDQxOTI0ODQ5NjU2NjIzNiJd" data-tooltip-class="a1V" jsaction="JIbuQc:.CLIENT" data-tooltip="Скачать"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
 <p style="font-size:24px;line-height:34px;font-weight:bold;letter-spacing:-0.01em;margin:0 0 12px">Уважаемый, {name}</p>
 <p style="font-size:16px;line-height:26px;font-weight:400;letter-spacing:normal;margin:0 0 30px">Вы&nbsp;выбраны для участия&nbsp;в следующем голосовании: {body_text}</p>
 </td>
 </tr>
 </tbody></table>

  <div style="margin:12px 0 0;padding:0"> <a href="https://google.com" style="color:#ffffff;text-align:center;text-decoration:none;display:block;font-size:18px;font-weight:bold;font-style:normal;letter-spacing:-0.01em;line-height:34px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://reg.ru/user/confirm_email?token%3Db4113d26c9a8197e69a377029b126e77%26rtm_source%3De-mail%26rtm_medium%3De-mail%26rtm_campaign%3DUserNew&amp;source=gmail&amp;ust=1706519723973000&amp;usg=AOvVaw3rTNgzmBB_oI4VxsLwjfJx"> <div style="display:inherit;border-radius:3px;color:#ffffff;text-align:center;background-color:#6cd47b;font-size:inherit;font-weight:inherit;font-style:inherit;letter-spacing:inherit;line-height:inherit;margin:0;padding:10px 15px;border:solid #6cd47b" align="center">
 Перейти к голосованию </div> </a>
 </div> 
 
 
 
 <p style="margin:0 0 6px;font:12px/18px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif">
 Если вы&nbsp; знаете, что не должны учавствовать в этом голосовании и&nbsp;получили это письмо случайно, пожалуйста&nbsp;обратитесь в&nbsp;<a href="https://google.com" style="color:#1d9ef9;text-decoration:underline;font-family:Arial,&#39;Helvetica Neue&#39;,Helvetica,sans-serif" target="_blank" data-saferedirecturl="https://www.google.com/">службу поддержки</a>.
 </p>
 
 <p style="word-break:normal;margin:18px 0;font:bold 24px/30px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif">
 Данные для&nbsp;входа
 </p>
  <table style="width:100%;border-spacing:0;border-collapse:collapse;color:#364364">
 <tbody><tr style="text-align:left" align="left">
 <td style="background-color:#f2f4f9;vertical-align:top;text-align:left;padding:0" align="left" bgcolor="#f2f4f9" valign="top">
 <p style="font-size:15px;line-height:30px;font-family:PT Mono;font-style:normal;font-weight:normal;margin:0;padding:24px"> Одноразовый код: <strong>{_pass}</strong><br> </p>
 </td>
 </tr>
 </tbody></table>

 <p style="word-break:normal;margin:18px 0;font:bold 24px/30px Arial,&#39;Helvetica Neue&#39;,Helvetica,FreeSans,sans-serif">
 Рекомендации
 </p>
 
 <table style="width:100%;border-spacing:0;border-collapse:collapse;color:#364364;margin:12px 0 0">
 <tbody><tr style="text-align:left" align="left">
 <td style="background-color:#f2f4f9;vertical-align:top;text-align:left;margin:0;padding:12px 24px" align="left" bgcolor="#f2f4f9" valign="top">
 <table style="border-spacing:0;border-collapse:collapse;color:#364364">
 <tbody><tr style="text-align:left" align="left">
 <td style="vertical-align:top;text-align:left;padding:0" align="left" valign="top">
 <a href="https://google.com" target="_blank">
 <img src="../static/img/docs.png" alt="docs" width="36" height="36" style="vertical-align:bottom;border:0" class="CToWUd" data-bit="iit">
 </a>
 </td>
 <td style="width:340px;vertical-align:middle;font-size:16px;line-height:26px;font-weight:600;letter-spacing:normal;text-align:left;margin:0;padding:0 12px 0 18px" align="left" valign="middle">
 <a href="https://google.com" style="color:#364364;text-decoration:none" target="_blank">Настройте получение&nbsp;отчётов</a>
 </td>
 <td style="vertical-align:inherit;text-align:left;padding:0" align="left" valign="inherit">
 <a href="https://google.com" target="_blank">
 <img src="../static/img/arrow.png" alt="arrow" width="24" height="24" style="vertical-align:bottom;margin:0;border:0" class="CToWUd" data-bit="iit">
 </a>
 </td>
 </tr>
 </tbody></table>
 </td>
 </tr>
 </tbody></table>
 

 
 </td>
</tr>

	
</tbody></table>
</td>
</tr>


 </tbody></table>
 </center></div></div></div>